<!--<div>
  Note that VSC default 'comment-out' does NOT work on erb documents for block comments.
  Remember this technique going forward.
  <%# The action attribute tells the form where to send the data to be processed.%>
  <%# The method sets the kind of request being sent to the server.%>
  <form action="/users" method="post" accept-charset="UTF-8">
    <legend>A form for creating a new user</legend>
    <input type="text" name="user[username]">
    <input type="email" name="user[email]">
    <input type="password" name="user[password]">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit This Form">
  </form>
</div> -->

<%# The following code block - countesy of PjSing22 - is soft depreciated. It is included only because this approach may be encountered in legacy systems. %>
<%# <%= form_tag('/users', method: "post") do %> 
  <%# <%= label_tag(:username, 'username') %> 
  <%# <%= text_field_tag(:username) %> 
  <%# <%= label_tag(:email, 'email') %> 
  <%# <%= text_field_tag(:email) %> 
  <%# <%= label_tag(:password, 'password') %> 
  <%# <%= password_field_tag(:password) %> 
  <%# <%= submit_tag('Submit') %> 
<%# <% end %> 