<!--<div>
  Note that VSC default 'comment-out' does NOT work on erb documents for block comments.
  Remember this technique going forward.
  <%# The action attribute tells the form where to send the data to be processed.%>
  <%# The method sets the kind of request being sent to the server.%>
  <form action="/users" method="post" accept-charset="UTF-8">
    <legend>A form for creating a new user</legend>
    <input type="text" name="user[username]">
    <input type="email" name="user[email]">
    <input type="password" name="user[password]">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Submit This Form">
  </form>
</div> -->

<%# The following code block - countesy of PjSing22 - is soft depreciated. It is included only because this approach may be encountered in legacy systems. %>
<%# <%= form_tag('/users', method: "post") do %> 
  <%# <%= label_tag(:username, 'username') %> 
  <%# <%= text_field_tag(:username) %> 
  <%# <%= label_tag(:email, 'email') %> 
  <%# <%= text_field_tag(:email) %> 
  <%# <%= label_tag(:password, 'password') %> 
  <%# <%= password_field_tag(:password) %> 
  <%# <%= submit_tag('Submit') %> 
<%# <% end %> 

<!--<%= form_with(url: "/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %>
  <%= submit_tag("Submit This Form") %>
<% end %>
In theory, the above works. In practice, however, it does not return the information in a 'nested' format that can be read by the standard creation methods used by the related model. Instead, see below:-->

<%= form_with model: @user do |form| %>
  <%= form.label(:username, "Username:") %>
  <%= form.text_field(:username) %>
  <%= form.label(:email, "Email:") %>
  <%= form.text_field(:email) %>
  <%= form.label(:password, "Password:") %>
  <%= form.password_field(:password) %>
  <%= form.submit("Submit This Form") %>
<% end %>

<%# Requires placeholder values and correct input fields. %>